// container
.container {
  @include sectionSpacing;
  height: 100vh;
  width: 100%;
  // fallback
  background: color(bg-blue);
  background: linear-gradient(color(bg-violet), color(bg-blue));
  overflow-x: hidden;

  @include responsive(lg) {
    padding-top: 10rem;
  }
}
